body {
  margin: 0;
  padding: 0;
}

header div, main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em 0 1em;
}

header {
  background: white;
  width: 100%;
  top: 0;
  position: fixed;
  box-shadow: 0 4px 3px -3px gray;
}

header h1 {
  float: left;
  font-family: helvetica, arial, sans-serif;
}

main {
  padding: 5em 1em 1em 1em;
}

header img {
  text-decoration: none;
  padding-top: 14px;
}

header li {
  display: inline-block;
  margin-right: 1em;
}

header li a:hover {
  color: blue;
}

header ul {
  float: right;
  list-style-type: none;
  padding-top: 1em;
}

footer {
  background: #2dc5be;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  text-align: center;
}

footer ul {
  list-style: none;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer li a:hover {
  color: blue;
}

footer a:link {
  color: #fff;
  text-decoration: none;
}
