.AppS {
    height: 91.5vh;
    display: flex;
    color: white;
}
.AppS__Aside {
  width: 50%;
  background-color: white;
  padding: 26px 0px 0px 120px;
  font-family: Tahoma;
}
.AppS__Form {
  width: 50%;
  background-color: white;
  padding: 25px 40px;
  overflow: auto;
  font-family: Tahoma;
}
.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}
.PageSwitcher__Item {
  background-color: rgb(103, 175, 121);
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}
.PageSwitcher__Item--Active {
  background-color: rgb(48, 81, 56);
  color: white;
}
.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 50px;
}
.FormTitle__Link {
  color: rgb(48, 81, 56);
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}
.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}
.FormCenter {
  margin-bottom: 100px;
}
.FormField {
  margin-bottom: 10px;
}
.FormField__Label {
  display: block;
  text-transform: none;
  font-size: 2.0em;
  color: black;
  padding-top: 10px;
  padding-left: 10px;
}
.FormField__Input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}
.FormField__Input::placeholder {
  color: #616E7F;
}
.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}
.FormField__Checkbox {
  position: relative;
}
.FormField__TermsLink {
  color: blue;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}
.FormField__Button {
  background: rgb(48, 81, 56);
  color: #fff;
  border-color: rgb(48, 81, 56);
  outline: none;
  border-radius: 12px;
  padding: 15px 70px;
  font-size: 15px;
  font-weight: 500;
  margin:10px;
}
.FormField__Button:hover{
  background-color:#fff;
  color: rgb(48, 81, 56);
}
.btn-primary{
    color: #fff;
    background: black;
    border-color: rgb(48, 81, 56);;
    -webkit-box-shadow: inset 0 0 0 1px rgb(48, 81, 56);
    box-shadow: inset 0 0 0 1px rgb(48, 81, 56);
    margin-top: 10px;
    border-radius: 5px;
}
.btn-block{
    display: block;
}
.imgA{
  width:400px;
  height:500px;
  border-radius: 10px;
}
